.cache
.tox
.coverage
.coverage.*
.DS_Store
*.egg-info
__pycache__/
*.py[cod]
*.pyc
build/*
dist/*
.eggs/
.vscode

documentation/build/*
documentation/.sass-cache/*
documentation/source/_themes/fontPartsTheme/static/.sass-cache/*

doc/*
.pytest_cache

htmlcov
