#content
    // width: 62%
    // max-width: $central-column-wrapper
    vertical-align: top
    // min-height: 100%
    margin-bottom: $padding
    display: inline-block
    padding:1rem

    p 
        max-width: $max-text-width

    ul li
        margin-top: 1em
        margin-bottom: 1em
        max-width: $max-text-width
        text-indent: -0.5em

    ul li:before
        content: "–"
        position: relative
        left: -1rem
        top: 0

    .toctree-wrapper
        ul li
            margin-top: 0em
            margin-bottom: 0em
        

dt code, dt span
    display: inline-block
    @media screen and (max-width: $tablet-portrait)
        word-break: break-word

