#content
    // width: 62%
    max-width: $central-column-wrapper
    vertical-align: top
    min-height: 100%
    margin-bottom: $padding
    display: inline-block
    padding:1rem

    p 
        max-width: 60ch

dt code, dt span
    display: inline-block