/* ---------- variables ---------- */

$monofont: 'Source Code Pro', 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier'
$sansfont: 'Source Sans Pro', Lucida Grande, Geneva, Arial, Verdana, sans-serif
$italicfont: Georgia, serif
$padding: 1em
$border: 3px solid black

///////////// colors /////////////
$green: #66DD00
$blue: #0062FF

// ////////// breakpoints /////////

$tablet-landscape: 1000px
$tablet-portrait: 800px